body 		{background-image: url("index.jpg");
			background-size: 100%;
            background-repeat: no-repeat;
			text-align: center;
			font-family: Cantarell;}
h1 			{font-family: Garamond; color: black; font-size: 80px; text-align: center;}
footer		{background: rgba(235, 250, 250); padding: 20px;}
.menu 		{height: 500px
            margin: 2px auto;
            padding: 3px 13px;
            background: rgba(235, 250, 250);}
.menu .image{
			float:right;
			width:42px;
			height:42px;}
.button 	{ 
			background-color: #00e673;
    		order: none;
    		color: white;
    		padding: 15px 32px;
    		text-align: center;
   			text-decoration: none;
    		display: inline-block;
    		font-size: 16px;
    		margin: 4px 2px;
    		cursor: pointer;
    		font-family: century gothic;
    		}
 .button_cari {
 			padding: 5px 20px;
 			background-color: white;
 			}
.cari 		{
			padding: 5px 60px;

}
.content 	{
            width: 70%;
            height: 70%;
            margin: 2px auto;
            padding: 3px 13px;
            background: rgba(235, 250, 250);}
.content .menu	{
			width: 50%;

			margin: 5px auto;
			background-color: #00e673;
			}

